  body{
              background: #00FF7F;
          }
         
       * {
          margin:0px;
          padding:0px;
        }
        
           header nav {
       
	width:90%;
	max-width:1000px;
	margin:20px auto;
	background:#990033;
}
 
.menu_bar {
	display:none;
}
 
header nav ul {
	overflow:hidden;
	list-style:none;
}
 
header nav ul li {
	float:left;
}
 
header nav ul li a {
	color:#fff;
	padding:20px;
	display:block;
	text-decoration:none;
}
 
header nav ul li span {
	margin-right:10px;
}
 
header nav ul li a:hover {
	background:#037E8C;
}
 
section {
    padding: 6rem 0;
}
 
@media screen and (max-width:800px ) {
	header nav {
		width:80%;
		height:100%;
		left:-100%;
		margin:0;
		position: absolute;
	}
 
	header nav ul li {
		display:block;
		float:none;
		border-bottom:1px solid rgba(255,255,255, .3);
	}
 
	.menu_bar {
		display:block;
		width:100%;
		background:#ccc;
	}
 
	.menu_bar .bt-menu {
		display:block;
		padding:20px;
		background:#990033;
		color:#fff;
		text-decoration:none;
		font-weight: bold;
		font-size:25px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
 
	.menu_bar span {
		float:right;
		font-size:40px;
	}
}
            
        #Redes {
          margin:auto;
          width:2%;
          font-family:Arial, Helvetica, sans-serif;
            
        }
        
        
        ul, ol {
          list-style:none;
        }
          .social li a {
          background-color:#00FF7F;
          color:#990033;
          text-decoration:none;
width: 30px;
          padding:10px 15px;
          display:block;
        }
        
        .social  li a{
          float:right;
           
 
            
        }
        
      
        
        .social li a:hover {
          background-color:#01DFD7;
        }
        
        .social li ul {
          display:none;
          position:absolute;
          min-width:140px;
            
        }
        
        .social li:hover > ul {
          display:block;
        }
        
        .social li ul li {
          position:relative;
        }
        
        .social li ul li ul {
          right:-140px;
          top:0px;
        }
         

        .nav li a {
          background-color:#990033;
          color:#fff;
          text-decoration:none;

          padding:10px 15px;
          display:block;
        }
        
        .nav  li a{
          float:left;
        }
        
      
        
        .nav li a:hover {
          background-color:#BDBDBD;
        }
        
        .nav li ul {
          display:none;
          position:absolute;
          min-width:140px;
        }
        
        .nav li:hover > ul {
          display:block;
        }
        
        .nav li ul li {
          position:relative;
        }
        
        .nav li ul li ul {
          right:-140px;
          top:0px;
        }
              
   
          
        footer {
          background-color: #990033;
          position: absolute;
          bottom: 0;
            top: 150%;
          width: 100%;
          height: 5%;
          color: white;
        }
       .cuadro{
              position: absolute;
              top:20%;
        left: 19%;
          }
          
         
         .i{
                text-align:justify;
              position: absolute;
              top: 27%;
             left: 19%;
             width: 32%;
          }
         
          .foto1{
              position: absolute;
              top:25%;
            left: 54%;
              
          }
           
          .foto2{
              position: absolute;
              top:47%;
              left:19%;

          }
           .foto3{
              position: absolute;
              top:110%;
              left:22%;

          }
 .foto4{
              position: absolute;
              top:82%;
             left:54%;

          }
          
          .o{
              position: absolute;
              text-align:justify;
              top: 66%;
              left: 54%;
              width: 30%;
              
          }
           .p{
              position: absolute;
              text-align:justify;
              top: 93%;
            left: 19%;
              width: 32%
              
          }
          
            div.lo{
               position:absolute;
              top:0px; 
   
          }
.h2{
    background-color: #fff;
  font-family:Bodoni MT;
}


.t.h2{
    top: 30%;
}